<div id="topLayer"></div>
  <div class="tape">WELCOME!)))</div>
  <div class="prev">
  	<h1>Before starting:</h1>
  	<div class="butts">
  		<button id="but1" routerLink="/login" routerLinkActive="active">Login</button>
  		<button id="but2" routerLink="/register" routerLinkActive="active">Sign in</button>
  	</div>
  </div>
  <div class="opts">
  	<h1>Things you can do:</h1>
  	<div class="other_butts">
  		<div class="obutts1">
  			<button routerLink="/story" routerLinkActive="active"><img src="./assets/images/book-png-book-stack-png-image-25686-1024.png">My Story</button>
  		<button routerLink="/blog" routerLinkActive="active"><img src="./assets/images/4-2-blogging-picture.png">Blog</button>
  		<div class="obutts2">
  			<button routerLink="/order_meme" routerLinkActive="active"><img src="./assets/images/photo_2019-10-15_15-13-57.jpg">
  			Order a Meme</button>
  			<button routerLink="/my_memes" routerLinkActive="active"><img src="./assets/images/lezhacha_tyotya_lora.png">See my memes</button></div>
  		</div>
  		<div class="obutts3">
  			<button routerLink="/chat" routerLinkActive="active"><img src="./assets/images/chat.png">NEW!1!
  			Chat</button>
  		</div>
  	</div>
  </div>
(c) Loren The Cat
 <router-outlet></router-outlet>