<div class="page">
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__group"><a class="menu__link" routerLink="/story" routerLinkActive="active">My story</a></li>
      <li class="menu__group"><a class="menu__link" routerLink="/my_memes" routerLinkActive="active">My memes</a></li>
      <li class="menu__group"><a href="#0" class="menu__link">Order a meme</a></li>
      <li class="menu__group"><a href="#0" class="menu__link"><span style="color: red">NEW!!!</span>Chat</a></li>
      <li class="menu__group"><a href="#0" class="menu__link">Home</a></li>
      <li class="menu__group"><button>Sign in</button></li>
      <li class="menu__group"><button>Log in</button></li>
    </ul>
  </nav>
</div>


