<div class="page">
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__group"><a class="menu__link" routerLink="/story" routerLinkActive="active">My story</a></li>
      <li class="menu__group"><a class="menu__link" routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li class="menu__group"><a class="menu__link" routerLink="/my_memes" routerLinkActive="active">My memes</a></li>
      <li class="menu__group"><a routerLink="/order_meme" routerLinkActive="active" class="menu__link">Order a meme</a></li>
      <li class="menu__group"><a routerLink="/chat" routerLinkActive="active" class="menu__link"><span style="color: red">NEW!!!</span>Chat</a></li>
      <li class="menu__group"><a routerLink="/home" routerLinkActive="active" class="menu__link">Home</a></li>
      <li class="menu__group"><div class="button_cont" align="center"><a class="example_c" routerLink="/register" routerLinkActive="active" rel="nofollow noopener">Sign In</a></div></li>
      <li class="menu__group"><div class="button_cont" align="center"><a class="example_c" routerLink="/login" routerLinkActive="active" rel="nofollow noopener">Log In</a></div></li>
    </ul>
  </nav>
<div class="container">
	<div class="news" *ngFor="let post of posts">
	<div class="heading">{{ post.title }}</div>
	<div>{{ post.content }}</div>
	<div class="buttons">
		<div><img src="../../assets/images/delete-sign--v2.png" class="but"></div>
		<div ><img src="../../assets/images/how-to-edit-png-images.png" class="but"></div>
		<div ><img src="../../assets/images/1.png" class="like" (click)="changeColor()"></div>
	</div>
</div>
</div>
<div class="addNew" (click)="onAddPost()"><button class="btn btn-blow"><span class="">Новий пост!</span></button></div>
<div class="container" *ngIf="SABAKA">
	<div class="container__item">
		<form class="form" name="postData">
			<input type="email" class="form__field" placeholder="Title" [(ngModel)]="postData.name" />
		</form>
		<textarea class="form__field field" placeholder="Description"  [(ngModel)]="postData.content"></textarea>
	</div>
	<button class="button-two" type="submit" (click)="post()"><span>Hover Me</span></button>
</div>


