<div class="page">
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__group"><a class="menu__link" routerLink="/story" routerLinkActive="active">My story</a></li>
      <li class="menu__group"><a class="menu__link" routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li class="menu__group"><a class="menu__link" routerLink="/my_memes" routerLinkActive="active">My memes</a></li>
      <li class="menu__group"><a routerLink="/order_meme" routerLinkActive="active" class="menu__link">Order a meme</a></li>
      <li class="menu__group"><a routerLink="/chat" routerLinkActive="active" class="menu__link"><span style="color: red">NEW!!!</span>Chat</a></li>
      <li class="menu__group"><a routerLink="/home" routerLinkActive="active" class="menu__link">Home</a></li>
      <li class="menu__group"><div class="button_cont" align="center"><a class="example_c" routerLink="/register" routerLinkActive="active" rel="nofollow noopener">Sign In</a></div></li>
      <li class="menu__group"><div class="button_cont" align="center"><a class="example_c" routerLink="/login" routerLinkActive="active" rel="nofollow noopener">Log In</a></div></li>
    </ul>
  </nav>
  <h1>My Story</h1>
  <div class="info"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
</div>
